<!-- End Container Section -->
<section class="end-container">
  <div>
    <span id="changing-text" class="fade">JOIN US ON OUR JOURNEY!</span>
  </div>
  <div class="additional-text">Your next breakthrough awaits!</div>
</section>

<!-- Top Information Bar -->
<div class="info-bar">
  <div class="info-bar-container">
    <div class="tagline">
      Bold Ideas, Moving Visions.
    </div>
    <div class="social-media-links">
      <a href="#" aria-label="Facebook" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" aria-label="LinkedIn" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
