<!-- End Container Section -->
<section class="end-container">
  <div>
    <span id="changing-text" class="fade">JOIN US ON OUR JOURNEY!</span>
  </div>
  <div class="additional-text">Your next breakthrough awaits!</div>
</section>

<!-- Top Information Bar -->
<div class="info-bar border-bottom py-2 d-none d-md-block">
  <div class="info-bar-container d-flex justify-content-between align-items-center">
    <div class="tagline text-center">
      Bold Ideas, Moving Visions.
    </div>
    <div class="social-media-links d-flex justify-content-end">
      <a href="#" aria-label="Facebook" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" aria-label="LinkedIn" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
