
/* General Settings */
body {
  font-family: 'Poppins', sans-serif;
  background: #13161b;
  color: #9c9494;
}

/* Main Container */
.main {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align all content */
}

/* Top Bar */
.top-bar {
  width: 100%;
  padding: 20px 0;
  background-color: #13161b;
}

.bold-ideas {
  color: #9c9494;
}

.social-links a {
  color: #9c9494;
  transition: color 0.3s, transform 0.3s;
  margin-right: 20px;
  font-size: 1.1rem;
}

.social-links a:hover {
  color: #007bff;
  transform: translateY(-2px);
}

.social-icon:last-child::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 24px;
  background-color: #353c43;
}
.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #3e4852 !important;
}

/* Navbar */
.navbar {
  background-color: #13161b;
  padding: 1.5rem; /* Padding for navbar */
  width: 100%; /* Full width */
}

/* Navbar Container */
.container-fluid {
  display: flex; /* Flexbox for layout */
  justify-content: space-between; /* Distribute space */
  align-items: center; /* Align items vertically */
}

/* Brand Styles */
.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

/* Navbar Links */
.navbar-nav {
  flex-direction: row; /* Items in a row */
  justify-content: center; /* Center-align navbar items */
  margin: 0; /* Reset margin */
}

/* Link Styles */
.navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 12px; /* Space between links */
  position: relative; /* For underline effect */
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  font-size: small;
  font-weight: 700; /* Bold */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Hover color */
}

/* Active Link Underline */
.navbar-nav .nav-link.active-link {
  color: #007bff; /* Active link color */
  font-weight: bold; /* Bold active link */
}

/* Underline effect for active links */
.navbar-nav .nav-link.active-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  height: 2px; /* Underline thickness */
  width: 100%; /* Full width */
  background-color: #007bff; /* Underline color */
  transition: width 0.4s ease, left 0.4s ease; /* Transition */
  left: 0; /* Start position */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 50%; /* Center underline */
  bottom: -4px; /* Position below link */
  height: 2px; /* Underline thickness */
  width: 0; /* Start invisible */
  background-color: #007bff; /* Underline color */
  transition: width 0.4s ease, left 0.4s ease; /* Transition */
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* Full width on hover */
  left: 0; /* Start position */
}

/* Sign In Button */
.btn {
  margin-left: auto; /* Push the button to the right */
}