<div class="main">
  <!-- Top Bar -->
  <div class="top-bar border-bottom py-2 d-none d-md-block">
    <div class="d-flex justify-content-between align-items-center">
      <div class="bold-ideas col-2 text-center ms-4">
        Bold Ideas, Moving Visions.
      </div>
      <div class="social-links d-flex me-4 justify-content-end">
        <div class="social-icon"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
        <div class="social-icon"><a href="#"><i class="fab fa-twitter"></i></a></div>
        <div class="social-icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
      </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-5 py-md-4 py-3">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="#">Blue Whale Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" [ngClass]="{'active-link': isActive('/')}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-page" [ngClass]="{'active-link': isActive('/about-page')}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" [ngClass]="{'active-link': isActive('/contact')}">Contact Us</a>
          </li>
        </ul>
        <button class="btn btn-outline-light">Sign In</button>
      </div>
    </div>
  </nav>
</div>
