<main>
  <!-- Text Container Section -->
  <section class="text-container">
    <div>
      <span id="changing-text" class="fade">About</span>
    </div>
  </section>

  <!-- About section-->
 <!-- About section-->
<section class="about-section">
  <div class="about-photo">
      <img src="assets/MyProfile.webp" alt="About Us" class="about-photo-img">
  </div>
  <div class="about-details">
      <div class="about-heading">Intro</div>
      <div class="about-subheading">Bold Visions in Motion</div>
      <div class="about-description">
          <p>We bring creativity to life.</p>
          <p>We are a creative studio specializing in bold design and groundbreaking motion technologies—from animation and virtual production to the latest advancements in technology.</p>
          <p>With decades of experience, our team crafts immersive digital experiences that redefine creativity and captivate audiences.</p>
          <p>From breathtaking visuals for films to immersive 3D environments, projection mapping, and the latest in virtual production technologies, we push the boundaries of what’s possible. In short, we make the impossible look real.</p>
      </div>
  </div>
</section>


</main>